global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: telegraf
    static_configs:
      - targets:
          - telegraf:9273

  - job_name: backend
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - backend:5000
